* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
    font-family: Karla, sans-serif;
}

.mainContainer {
  perspective: 1.02px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: scroll;
}

.unit {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  height: 100vh;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  background: url("http://www.leadwithlanguages.org/wp-content/uploads/2017/02/Latin.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.unit h1 {
  font-family: Karla, sans-serif;
  color: white;
  font-size: 52px;
  font-weight: bold;
  padding: 10px 75px;
  background-color: #1D1A05;
  border-radius: 7px;
  height: 60px;
  margin-top: 45vh;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.contentContainer {
  display: block;
  position: relative;
  background-color: white;
  z-index: 1;
}

.contentContainer h1 {
  font-family: Karla, sans-serif;
  color: #1D1A05;
  font-size: 42px;
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 40px;
  letter-spacing: 0.5px;
}

.contentContainer p {
  color: #343E3D;
  font-size: 24px;
  text-align: center;
  width: 60%;
  margin: auto;
  letter-spacing: 0.2px;
  line-height: 45px;
  padding-bottom: 20vh;
}

a {
  font-family: Karla, sans-serif;
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 40px;
  background-color: #1D1A05;
  border-radius: 7px;
  height: 50px;
  margin-top: 50vh;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

a:hover {
  color: #1D1A05;
  background-color: white;
}

.tabcontent {
  font-family: Karla, sans-serif;
  color: white;
  letter-spacing: 0.2px;
}

.tabcontent h1, .tabcontent p {
color: white;
}

.tabcontent ul {
text-align: center;
font-size: 1.5rem;
padding: 0 0 250px 0;
}

#two, #show {
  display: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 5vh;
}

#btn {
  font-family: Karla, sans-serif;
  background-color: #1D1A05;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 7px;
}

#btn:hover, #btn2:hover {
  background-color: white;
  color: #1D1A05;
  cursor: pointer;
}

#btn2 {
  font-family: Karla, sans-serif;
  background-color: #1D1A05;
  color: white;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 7px;
}

#first { background-color: #7f7979; padding-top: 5vh; padding-bottom: 5vh; }
#second { background-color: #B38A58; text-align: center; }
#third { background-color: #3C5233; padding-bottom: 25vh; }
#fourth { background-color: #252323; }
#fifth { background-color: #1D456D; }
#sixth {
  background-color: #d6d5cd;
  padding-top: 25vh;
  padding-bottom: 25vh;
  text-align: center;
}